<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title><!-- PAGE_TITLE --></title>
    <link rel="stylesheet" href="/static/css/reset.min.css">
    <link rel='stylesheet' href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container clearfix">

    <div class="chat" style="margin: 20px;">
      <div class="chat-header clearfix">
        <img src="/static/images/logo.png" class="avatar" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with"><!-- TITLE --></div>
          <div class="chat-num-messages"><!-- SUBTITLE --></div>
        </div>
        <!-- <i class="fa fa-star"></i> -->
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul></ul>
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="<!-- TITLE -->" rows="3"></textarea>
                
        <!-- <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i> -->
        
        <button>Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

{% raw %}
<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >You</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Wikipedia</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      <span class="message-data-answer">{{answer}}</span>
      <p class="message-data-context">{{context}}.
      <a class="message-data-link" href="{{doc_id}}">{{doc_id}}</a></p>
    </div>
  </li>
</script>
{% endraw %}
  <script src='/static/js/jquery.min.js'></script>
  <script src='/static/js/handlebars.min.js'></script>
  <script src='/static/js/list.min.js'></script>
  <script  src="/static/js/index.js"></script>
</body>

</html>
